/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.cpcache/
.clj-kondo/.cache/

# auth
.session
/private.edn
/.envrc

.DS_Store

*.zip
*.*~

archive-contents
.mc-lists.el

# Backup files
*\#
*.bkp
backups/
emacs-bookmarks/

*.swp
dhist
history
history.el

.last-package-update-day
.org-id-locations
.zsh_history

amx-items
forge-database.sqlite
history.sqlite
projecile.cache
projectile-bookmarks.eld
recentf
request/
rpc-venv/

scratch*
/.rebel_readline_history
