{:deps {babashka/fs {:mvn/version "0.4.19"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        environ/environ {:mvn/version "1.2.0"}
        medley/medley {:mvn/version "1.4.0"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.csv {:mvn/version "1.0.1"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
        prismatic/plumbing {:mvn/version "0.6.0"}
        selmer/selmer {:mvn/version "1.12.59"}}

 :paths ["src" "resources"]

 :aliases {;; :dev {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}
           :test {:extra-paths ["test" "test-resources"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}
                               lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
                               ;; org.clojure/test.check        {:mvn/version "RELEASE"}
                               }
                  :main-opts ["-m" "kaocha.runner"]}
           :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "clj-kondo.main"]}
           :doc       {:extra-paths ["script" "docs"]
                       :extra-deps  {marginalia/marginalia {:mvn/version "0.9.1"}}
                       :main-opts   ["-m" "blogify"]}
           }}
