#kaocha/v1
{:kaocha/reporter [
                   kaocha.report/dots
                   ;; kaocha.report/documentation
                   ;; kaocha.report/debug
                   ;; kaocha.report.progress/report
                   ]}
